<canvas id="canvas" resize="true"></canvas>
<script type="text/paperscript" src="/js/arcpaper.js" canvas="canvas"></script>

<div id="nav" class="navigation">
	<img id="logolight" src="/images/arlogo_white.svg"/>
	<img id="logodark" src="/images/arlogo_black.svg"/>
	<div class="navbuttons">
		<a id="about_link" href="/about">About</a>
		<a id="portfolio_link" href="/portfolio">Portfolio</a>
		<a id="team_link" href="/team">Team</a>
	</div>
</div>

<div id="theater" class="theater">
	<div id="prose_color" class="banner prose_color"></div>
	<div id="prose_grayscale" class="banner prose_grayscale"></div>
	<div id="note_color" class="banner note_color"></div>
	<div id="note_grayscale" class="banner note_grayscale"></div>
	<div id="taggle_color" class="banner taggle_color"></div>
	<div id="taggle_grayscale" class="banner taggle_grayscale"></div>
</div>

<div class="content">
	<div id="about_slide" class="slide">
		<h1>OUR MISSION</h1>
		<p>To imagine and create revolutionary technology, advance human knowledge, and positively impact the world for generations to come.</p>
		
		<h1>OUR STORY</h1>
		<p>Arc Reactor is a technology incubator based in Seattle, Washington. Originally founded as Taggle Inc., a Delaware C Corporation specializing in social reviews for small e-commerce businesses, our creative ambitions quickly outgrew our first product. We aspired not just to create a successful review platform, but instead to construct an “idea reactor” of sorts. With a dynamite team of developers, engineers, marketing gurus, and visionary investors, our reactor would be capable of transforming brilliant ideas from around the world into fully realized products suitable for mass market adoption. We called it the Arc Reactor, and will use it to create and power the next generation of incredible technology. Its only fuel is imagination.</p>
		
		<h1>OUR PHILOSOPHY</h1>
		<p>We believe in the power of ideas. Brilliant ideas spring constantly into our collective minds, but the stars must align for anything to come of them. We seek to provide the resources to bring these ideas to life, to force the stars into alignment. We treat ideas like products, and products like experiments. We are not driven by money; we are driven by wealth – wealth of knowledge, health, happiness, and progress. We value truth and justice, kindness and mindfulness. We value creativity and passion, inspiration and imagination. We value greatness.</p>
	</div>
	
	<div id="portfolio_slide" class="slide">
		<h1 id="portfolio_title" class="banner_text">PORTFOLIO</h1>
		<a href="/portfolio/prose" class="portfolio_link prose" project="prose">Prose.</a>			
		<a href="/portfolio/taggle" class="portfolio_link taggle" project="taggle">Taggle</a>
		<a href="/portfolio/note" class="portfolio_link note" project="note">Note</a>
		
		<div id="prose_info" class="project_info">
			<p>A place for readers and writers.<br />Deployed.</p>
			<div class="link_container large">
				<a href="https://theprose.com" class="link website" target="_prose">Website</a>
				<a href="https://itunes.apple.com/us/app/prose./id911216930?mt=8" class="link apple" target="_prose">iOS</a>
				<a href="https://play.google.com/store/apps/details?id=arcreactor.com.prose&hl=en" class="link android" target="_prose">Android</a>
			</div>
		</div>
		
		<div id="taggle_info" class="project_info">
			<p>Reviews. For the people, by the people.<br />In Development.</p>
			<div class="link_container">
				<a href="http://taggle.com" class="link website" target="_taggle">Website</a>
			</div>
		</div>
		
		<div id="note_info" class="project_info">
			<p>Make your moments musical.<br />App Prototype.</p>
			<div class="link_container medium">
				<a href="http://thenoteapp.com" class="link website" target="_note">Website</a>
				<a href="https://itunes.apple.com/us/app/note-messenger/id816000314?ls=1&mt=8" class="link apple" target="_note">iOS</a>
			</div>
		</div>
	</div>
	
	<div id="team_slide" class="slide">
		<h1>OUR TEAM</h1>
		<p>Our team is a mix of software engineers, designers, growth hackers and industry leaders.<br /><br />We prefer discretion.<br /><br /><a id="email"></a></p>
	</div>
		
</div>