<canvas id="canvas" resize="true"></canvas>
<script type="text/paperscript" src="/js/arcpaper.js" canvas="canvas"></script>

<div id="nav" class="navigation">
	<img id="logolight" src="/images/arlogo_white.svg"/>
	<img id="logodark" src="/images/arlogo_black.svg"/>
	<a href="/team">Team</a>
	<a id="portfolio_link" href="/portfolio" class="morepadding">Portfolio</a>
	<a id="about_link" href="/about" class="morepadding">About</a>
</div>

<div id="theater" class="theater">
	<div id="prose_color" class="banner prose_color"></div>
	<div id="prose_grayscale" class="banner prose_grayscale"></div>
</div>

<div class="content">
	<div id="about_slide" class="slide">
		<h1>OUR MISSION</h1>
		<p>To imagine and create revolutionary technology, advance human knowledge, and positively impact the world for generations to come.</p>
		
		<h1>OUR STORY</h1>
		<p>Arc Reactor is a technology incubator based in Seattle, Washington. Originally founded as Taggle Inc., a Delaware C Corporation specializing in social reviews for small e-commerce businesses, our creative ambitions quickly outgrew our first product. We aspired not just to create a successful review platform, but instead to construct an “idea reactor” of sorts. With a dynamite team of developers, engineers, marketing gurus, and visionary investors, our reactor would be capable of transforming brilliant ideas from around the world into fully realized products suitable for mass market adoption. We called it the Arc Reactor, and will use it to create and power the next generation of incredible technology. Its only fuel is imagination.</p>
		
		<h1>OUR PHILOSOPHY</h1>
		<p>We believe in the power of ideas. Brilliant ideas spring constantly into our collective minds, but the stars must align for anything to come of them. We seek to provide the resources to bring these ideas to life, to force the stars into alignment. We treat ideas like products, and products like experiments. We are not driven by money; we are driven by wealth – wealth of knowledge, health, happiness, and progress. We value truth and justice, kindness and mindfulness. We value creativity and passion, inspiration and imagination. We value greatness.</p>
	</div>
	
	<div id="portfolio_slide" class="slide">
		<h1 id="portfolio_title">OUR PORTFOLIO</h1>
		<h2 class="portfolio_link prose" project="prose">Prose.</h2>			
		<h2 class="portfolio_link taggle" project="taggle">Taggle</h2>
		<h2 class="portfolio_link note" project="prose">Note</h2>
		
		<div id="prose_info" class="project_info">
			<p>A place for readers and writers.</p>
			<div class="link_container">
				<a href="#" class="link website">Website</a>
				<a href="#" class="link apple">iOS</a>
				<a href="#" class="link android">Android</a>
			</div>
		</div>
	</div>
		
</div>