<canvas id="canvas"></canvas>
<script type="text/paperscript" src="/js/arcpaper.js" canvas="canvas"></script>

<div class="navigation">
	<img id="logolight" src="/images/arlogo_white.svg"/>
	<img id="logodark" src="/images/arlogo_black.svg"/>
	<a href="/team">Team</a>
	<a href="/portfolio" class="morepadding">Portfolio</a>
	<a href="/about" class="morepadding">About</a>
</div>