/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@font-face {
  font-family: Garamond-Regular;
  src: url('../fonts/AGaramondPro-Regular.woff2') format('woff2'), url('../fonts/AGaramondPro-Regular.woff') format('woff'), url('../fonts/AGaramondPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Garamond-Italic;
  src: url('../fonts/AGaramondPro-Italic.woff2') format('woff2'), url('../fonts/AGaramondPro-Italic.woff') format('woff'), url('../fonts/AGaramondPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: Oregano-Regular;
  src: url('../fonts/Oregano-Regular.woff2') format('woff2'), url('../fonts/Oregano-Regular.woff') format('woff'), url('../fonts/Oregano-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Devonshire-Regular;
  src: url('../fonts/Devonshire-Regular.woff2') format('woff2'), url('../fonts/Devonshire-Regular.woff') format('woff'), url('../fonts/Devonshire-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Gotham-Book;
  src: url('../fonts/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype');
}
@font-face {
  font-family: Gotham-Medium;
  src: url('../fonts/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Gotham-Bold;
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype');
}
@font-face {
  font-family: HelveticaNeue-MediumCond;
  src: url('../fonts/HelveticaNeue-MediumCond.woff2') format('woff2'), url('../fonts/HelveticaNeue-MediumCond.woff') format('woff'), url('../fonts/HelveticaNeue-MediumCond.ttf') format('truetype');
}
body {
  background: black;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
canvas {
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.navigation {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  z-index: 2;
}
.navigation.dark a {
  color: black;
}
.navigation.dark #logodark {
  opacity: 1.0;
  visibility: visible;
}
.navigation img {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  height: 45px;
  width: auto;
}
.navigation a {
  position: relative;
  display: block;
  float: right;
  color: white;
  text-decoration: none;
  padding-top: 44px;
  padding-right: 25px;
  font-family: "Gotham-Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.navigation a.morepadding {
  padding-right: 25px;
}
.navigation a.dark {
  color: black;
}
.navigation img,
.navigation a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.navigation img.visible,
.navigation a.visible {
  opacity: 1.0;
  visibility: visible;
}
.theater {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: none;
}
.theater .banner {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.theater .banner.prose_color {
  background-image: url('../images/heartbanner_color.jpg');
  z-index: 1;
}
.theater .banner.prose_grayscale {
  background-image: url('../images/heartbanner_grayscale.jpg');
  z-index: 2;
}
.theater .banner.note_color {
  background-image: url('../images/aurora_color.jpg');
  z-index: 1;
}
.theater .banner.note_grayscale {
  background-image: url('../images/aurora_grayscale.jpg');
  z-index: 2;
}
.theater .banner.taggle_color {
  background-image: url('../images/suit2_grayscale.jpg');
  z-index: 1;
}
.theater .banner.taggle_grayscale {
  background-image: url('../images/suit2_grayscale.jpg');
  z-index: 2;
}
.theater .banner.visible {
  visibility: visible;
  opacity: 1.0;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.theater .banner.partial {
  visibility: visible;
  opacity: 0.2;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.content {
  position: relative;
  z-index: 2;
  margin-top: 60px;
  overflow: visible;
}
.content .slide {
  max-width: 700px;
  margin: auto;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.content .slide.visible {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  opacity: 1.0;
  visibility: visible;
}
.content .slide h1 {
  font-family: "Gotham-Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.content .slide h1.hidden {
  -webkit-transition: 1.6s;
  -moz-transition: 1.6s;
  -ms-transition: 1.6s;
  -o-transition: 1.6s;
  opacity: 0;
  visibility: hidden;
  font-size: 0px;
}
.content .slide h1.obscured {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  opacity: 0.05;
}
.content .slide h1.banner_text {
  position: fixed;
  font-family: "Gotham-Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 120px;
  bottom: 0px;
  left: 15px;
  color: black;
  font-weight: bold;
  z-index: 3;
  opacity: 0.1;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content .slide h1.banner_text.obscured {
  opacity: 0.05;
}
.content .slide h1.banner_text.hidden {
  opacity: 0;
}
.content .slide .portfolio_link {
  cursor: pointer;
  font-size: 42px;
  color: black;
  margin: auto;
  margin-bottom: 30px;
  font-weight: normal;
  opacity: 0.4;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  visibility: visible;
  display: block;
  text-decoration: none;
  text-align: center;
  max-width: 150px;
}
.content .slide .portfolio_link:hover {
  opacity: 1.0;
}
.content .slide .portfolio_link.obscured {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  opacity: 0.1;
}
.content .slide .portfolio_link.title {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  font-size: 70px;
  color: white;
  margin-top: 0px !important;
  opacity: 1.0;
}
.content .slide .portfolio_link.hidden {
  -webkit-transition: 1.6s;
  -moz-transition: 1.6s;
  -ms-transition: 1.6s;
  -o-transition: 1.6s;
  opacity: 0;
  visibility: hidden;
  font-size: 0px;
  margin-bottom: 0px;
}
.content .slide .portfolio_link.prose {
  font-family: "Garamond-Regular";
}
.content .slide .portfolio_link.taggle {
  font-family: "Oregano-Regular";
}
.content .slide .portfolio_link.note {
  font-family: "Devonshire-Regular";
}
.content .slide .project_info {
  position: relative;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  overflow: auto;
}
.content .slide .project_info.visible {
  opacity: 1;
  visibility: visible;
}
.content .slide .project_info.visible p,
.content .slide .project_info.visible .link_container {
  -webkit-transition-delay: 1.6s;
  -moz-transition-delay: 1.6s;
  -ms-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  opacity: 1;
  font-size: 19px;
  text-transform: uppercase;
}
.content .slide .project_info p {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  color: white;
  font-size: 19px;
  opacity: 0;
}
.content .slide .project_info .link_container {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  position: relative;
  margin: auto;
  margin-top: 60px;
  opacity: 0;
  width: 100px;
  overflow: auto;
}
.content .slide .project_info .link_container.large {
  width: 300px;
}
.content .slide .project_info .link_container.medium {
  width: 200px;
}
.content .slide .project_info .link_container .link {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  position: relative;
  width: 100px;
  float: left;
  padding-top: 60px;
  font-family: "Gotham-Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  display: block;
}
.content .slide .project_info .link_container .link:hover {
  opacity: 0.8;
}
.content .slide .project_info .link_container .link:before {
  content: ' ';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 50%;
  margin-left: -20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.content .slide .project_info .link_container .link.website:before {
  background-image: url('../images/network_white.svg');
}
.content .slide .project_info .link_container .link.apple:before {
  background-image: url('../images/apple_white.svg');
}
.content .slide .project_info .link_container .link.android:before {
  background-image: url('../images/android_white.svg');
}
.content .slide .project_info .link_container.prose {
  width: 300px;
}
.content .slide p {
  font-family: "Gotham-Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  color: black;
  text-align: center;
}
.content .slide p a {
  color: #00aced;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.content .slide p a:hover {
  opacity: 0.8;
}
